// variables
$font1: 'Merriweather', serif;
$font2: 'Lato', sans-serif;

$cor1: #04C35C;
$cor2: #03A850;
$cor3: #1A202C;
$cor4: #212938;
$cor5: #2B6CB0;
$cor6: #04CF63;
$cor7: #014220;

// mixins
@mixin flex($var1, $var2) {
    flex: 1 1 $var1;
    display: flex;
    flex-flow: $var2 wrap;
}

@mixin button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    border-radius: 0.6rem;
    border: 1px solid #E8E8E8;
    padding: 1rem;
    font-size: 0.8rem;
    gap: 0.5rem;
}

// imports
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

// selection
::selection {
    color: $cor6;
    background: $cor7;
}

// reset html
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-flow: column wrap;
    font-display: swap;
}

h1 {
    font-size: 1.6rem;
    font-family: $font1;
}

h3 {
    font-size: 1rem;
    font-family: $font1;
}

p {
    font-family: $font2;
}

a {
    color: $cor5;
    text-decoration: none;
}